/Redactor.Application/obj
/Redactor.Application/bin
/Redactor.Domain/bin
/Redactor.Domain/obj
/Redactor.Extensions/bin
/Redactor.Extensions/obj
/Redactor.Infrastructure
/Redactor.Persistence/bin
/Redactor.Persistence/obj
/Redactor.WebAPI/bin
/Redactor.WebAPI/obj
/Redactor.WebAPI.Interfaces/bin
/Redactor.WebAPI.Interfaces/obj
/Redactor.WebAPI.Validators/Redactor.WebAPI.Validators.Browser/obj
/Redactor.WebAPI.Validators/Redactor.WebAPI.Validators.Browser/bin
/Redactor.WebAPI.Validators/Redactor.WebAPI.Validators.DateRange/obj
/Redactor.WebAPI.Validators/Redactor.WebAPI.Validators.DateRange/bin
/Redactor.WebAPI.Validators/Redactor.WebAPI.Validators.Device/obj
/Redactor.WebAPI.Validators/Redactor.WebAPI.Validators.Device/bin
/Redactor.WebAPI.Validators/Redactor.WebAPI.Validators.Language/obj
/Redactor.WebAPI.Validators/Redactor.WebAPI.Validators.Language/bin
/.vs
/Redactor.Application.Validators/Browser/obj
/Redactor.Application.Validators/Browser/bin
/Redactor.Application.Validators/DateRange/obj
/Redactor.Application.Validators/DateRange/bin
/Redactor.Application.Validators/Device/obj
/Redactor.Application.Validators/Device/bin
/Redactor.Application.Validators/Language/obj
/Redactor.Application.Validators/Language/bin
